.unorderedlist {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: black;
    opacity: 80%;
  }
  
  li {
    float: right;
    padding-right: 10px;
  }
  
  li a {
    display: block;
    Color: whitesmoke;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
  }

  header.masthead {
    position: relative;
    background: no-repeat center;
    background-color: #666;
    background-size: cover;
    background-attachment: scroll;
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    filter:contrast(70%);
}
.img {
  filter:brightness(100%);
}

.heading {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 800;
    font: bold;
    color:rgb(255, 255, 255);
    padding: 0px;
    filter: none;
    
    
}
.newdivider {
  height: 0;
  margin: 0.5px 0;
  overflow: hidden;
  border-top: 1px solid rgb(209, 209, 209);
}

  .subheading {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0.625px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    filter: none;
}
  .resize {
      resize: both;
      overflow: auto;
  }

  .footer {
    text-align: center;
    padding: 8px;
    background-color: black;
    color: white;
  }